<nav class="navbar navbar-expand-lg navbar-dark bg-success ">
  <button id="carrito" type="button" class="btn m-auto" data-toggle="modal" data-target="#modalproductos">
    <img src="/img/cart.png" class="carrito drop" alt="cart">
  </button>
</nav>
